include parts/head.pug
include parts/header.pug
nav(aria-label='breadcrumb')
  ol.breadcrumb
    li.breadcrumb-item
      a(href='/') Accueil
    li.breadcrumb-item.active(aria-current='page') Mot de passe perdu
.page
  if user 
    h2 Accès non autorisé
    p
      | Vous &egrave;tes deja connect&eacute; en tant que 
      b #{dataUser.pseudo}
    p
      a(href='publications') > Accéder à ma petite toile
    p
      a(href='deconnexion') > Me déconnecter
  else 
    h2 Mot de passe perdu
    p.textInfo Entrez l'adresse email et le pseudo associés à votre compte Petite Toile pour recevoir un nouveau mot de passe.
    if msg
      div(class=''+msg.class role='alert') #{msg.text}
    form.shadow-lg.p-3.mb-2.bg-white.rounded(action='' method='POST')
      .form-group
        label(for='pseudo')
          span.red *
          | Votre pseudo :
        input#pseudo.form-control(type='text' name='pseudo' aria-describedby='userIdMsg' value=pseudo)
        small#pseudoMsg.form-text.text-muted Information requise
      .form-group
        label(for='email')
          span.red *
          | Votre email :
        input#email.form-control(type='text' name='email' aria-describedby='emailMsg' value=email)
        small#emailMsg.form-text.text-muted Information requise
      input.btn(type='submit' value='Envoyer')
script(src='/lib/jquery-3.4.1.min.js')
script(src='/js/utils/forms.js')
script(src='/js/password.js')

