.banner
    .userZone
        .icon-text
            img(src='/img/avatars/avatar-40.png' alt='Votre avatar')
            span.nav-item.user #{user.pseudo}
        .icon-text
            img(src='/img/nav/logout-20.png' alt='deconnexion')
            a(href='/deconnexion') Se d&eacute;connecter