//COLORS
.pink {
    background-color: #e31231;
  }
  
  .pinkColor {
      color: #e31231;
  }
  
  .badge-primary {
    background-color: #e31231;
  }
  
  .red {
    color: red;
  }
  
  .gray {
    color: #5d525e;
  }

  .infoProfile {
    color: #6c757d;
  }

  .black {
    color: #000;
  }

  .adminColorMe {
    color: #0099c8;
  }

  .adminColorOther {
    color: #35383a;
  }
