.page-friends {
    background-color: #f8f9fa;
    padding: 0px;

    sup {
        font-size:0.8rem;

        @include md {
            font-size:0.9rem;
        }

    }
}

.friends {
    margin: 10px;
    
}